@page "/Jp"
@inject IRunService RunService
@using System.Globalization



<TabControl>
    @foreach (int i in years)
    {
        <TabPage Text=@i.ToString()>
            @if (quests is null || quests.Count == 0)
            {
                <span>Loading Quests...</span>
            }
            else
            {
                <br>
                <br>
                <TabControl>
                    @foreach (Quest q in quests.Where(x=>x.CreatedDate.Value.Year == i))
                    {
                        <div class=text-nowrap>
                            <TabPage Text=@q.JpName>
                            @if (runs is null || runs.Count == 0)
                            {
                                <span>Loading Runs...</span>
                            }
                            else
                            {
                                <table class="table-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="text-nowrap px-3">Dps</th>
                                            <th class="text-nowrap px-3">Url</th>
                                            <th class="text-nowrap px-3">Party</th>
                                            <th class="text-nowrap px-3">Cost</th>
                                            <th class="text-nowrap px-3">Servant Count</th>
                                            <th class="text-nowrap px-3">Mystic Code</th>
                                            <th class="text-nowrap px-3">No dupe</th>
                                            <th class="text-nowrap px-3">No event ce</th>
                                            <th class="text-nowrap px-3">No Ce Dps</th>
                                            <th class="text-nowrap px-3">No Ce</th>
                                            <th class="text-nowrap px-3">Rta</th>
                                            <th class="text-nowrap px-3">Entry Date</th>
                                            <th class="text-nowrap px-3">Cs Used</th>
                                            <th class="text-nowrap px-3">Revives Used</th>
                                            <th class="text-nowrap px-3">Id</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var run in runs.Where(r => r.Quest.Id == q.Id))
                                        {
                                            {
                                                main = run.Party.First(x => x.IsMainDps);
                                            }
                                            <tr>
                                                <td class="text-nowrap px-3">@main.Servant.JpName</td>
                                                <td class="text-nowrap px-3">@run.RunUrl</td>
                                                <td class="text-nowrap px-3">@PartyToString(run.Party)</td>
                                                <td class="text-nowrap px-3">@run.Cost</td>
                                                <td class="text-nowrap px-3">@run?.ServantCount</td>
                                                <td class="text-nowrap px-3">@run?.MysticCode?.JpName</td>
                                                <td class="text-nowrap px-3">@run?.NoDupe</td>
                                                <td class="text-nowrap px-3">@run?.NoEventCeDps</td>
                                                <td class="text-nowrap px-3">@run?.NoCeDps</td>
                                                <td class="text-nowrap px-3">@run?.NoCe</td>
                                                <td class="text-nowrap px-3">@run?.Rta</td>
                                                <td class="text-nowrap px-3">@run?.CreatedDate</td>
                                                <td class="text-nowrap px-3">@run?.CsUsed</td>
                                                <td class="text-nowrap px-3">@run?.RevivesUsed</td>
                                                <td class="text-nowrap px-3">@run.Id</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </TabPage>
                        </div>
                        
                    }


                </TabControl>

            }


        </TabPage>
    }

</TabControl>


@code {
    int[] years = new int[5] { 2016, 2017, 2018, 2019, 2020 };
    string party = string.Empty;
    List<Quest>? quests = null;
    DateTime t = DateTime.UtcNow;
    
    List<Run>? runs = null;
    PartySlot main;
    public RenderFragment PartyToString(List<PartySlot> l)
    {
        return
    @<text>
        @foreach (var ps in l)
            {
                <p>@(ps?.Servant?.JpName + " -> " + ps?.CraftEssence?.JpName)</p>
            }
        </text>;

    }
    protected override async Task OnInitializedAsync()
    {
        party = string.Empty;
        quests = await RunService.GetQuests();
        runs = await RunService.GetRuns();
    }

}
